# Build folders
build/
bin/
out/
Debug/
Release/

# Object files
*.o
*.obj
*.lo
*.slo

# Executables
*.exe
*.out
*.app

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Debug files
*.pdb
*.ilk

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Visual Studio Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# json
.json